<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Recipe Manager</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Recipe Manager</a></h1>
      <div class="header-links"><%== yield_content :header_links %></div>
    </header>

    <% if session[:error] %>
      <div class="flash error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <% if session[:success] %>
    <div class="flash success">
      <p><%= session.delete(:success) %></p>
    </div>
    <% end %>

    <main>
      <%== yield %>
    </main>
    <footer>
      <div>
        Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
    </footer>
  </body>
</html>
